@font-face {
    font-family: Boating;
    src: url('./font/KronaOne-Regular.ttf');
}

body{
    margin: 0;
    background-color: #0c0e14;
}

.footer{
    font-size: small;
    color: rgb(99, 99, 99);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer a{
    color: rgb(163, 84, 70);
}

.content{
    margin-top: 2em;
    text-align: center;
    font-family: Boating;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    text-align: center;
    max-width: 50vw;
}

.logo{
    width: 20vw;
}

.img{
    padding: 2em;
}

h1,h2,p{
    font-family: Boating;
    color: white;
}

h2{
    font-size: medium;
}

.count{
    font-family: Boating;
    color: white;
    font-size: medium;
}

.ballad{
    font-style: italic;
    font-size: small;
    color: orangered;
}

.text{
    font-size: .9em;
}

.button{
    font-family: Boating;
    text-decoration: none;
    border: 1px rgb(0, 130, 252) solid;
    padding: 1em;
    color: white;
    margin:1px;
}

.button:hover{
    color: white;
    background-color: rgb(0, 130, 252);
    border: 1px white solid;
}

@media (max-width: 700px) {
    .logo{
        width: 60vw;
    }


    .text{
        text-align: center;
        max-width: 80vw;
    }
}